.form__content {
    max-width: 700px;
    margin: 0 auto;
}
.form__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.form__label {
    width: 200px;
}
.form__input {
    flex: 1;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
}
.form__button {
    text-align: center;
}
.form__button-submit {
    color: #eee;
    background-color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}